@import "tailwindcss";


:root {
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.load {
  animation: fade-up 1s;
}

@keyframes fade-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}
